<phototool>
	<settings>
		<main_form>
			<height></height>
			<left></left>
			<top></top>
			<width></width>
		</main_form>
		<image_options>
			<image_length></image_length>
			<thumbnail_length></thumbnail_length>
			<generate_thumbs></generate_thumbs>
			<replace_spaces></replace_spaces>
			<image_quality></image_quality>
		</image_options>
		<folders>
			<add_file_folder></add_file_folder>
			<add_dir_folder></add_dir_folder>
			<output_folder></output_folder>
			<project_folder></project_folder>
		</folders>
		<thumbnails>
			<name_format>tn_{FILE_NAME}{EXTENSION}</name_format>
		</thumbnails>
	</settings>
</phototool>
